<div class="home-container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL PS4"
    gamePrice="R$ 149,90"
  ></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL PS4"
    gamePrice="R$ 249,90"
  ></app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL PS4"
    gamePrice="R$ 189,90"
  ></app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="NEW"
    gameType="DIGITAL PS3 | PS4"
    gamePrice="R$ 89,90"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="DIGITAL EXCLUSIVE"
    gameType="DIGITAL PS3 | PS4"
    gamePrice="R$ 79,90"
  ></app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL RETRO"
    gameType="DIGITAL PS3 | PS4"
    gamePrice="R$ 39,90"
  ></app-card>
</div>
